* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
}

a {
    text-decoration: none;
}


body {
    margin: 0;
    background-color: grey;
}


.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}


.header_container {
    display: inherit;
    width: 100%;
    height: 90px;
    background-color: black;
}


.header_h1 {
    font-family: Forum, sans-serif;
    font-style: normal;
    font-size: 30px;
    margin: 20px 454px 20px 20px;
    line-height: 50px;
    letter-spacing: 0.6px;
    color: white;
}


.ul_nav {
    display: inline-flex;
    justify-content: space-between;
    gap: 30px;
    width: 584px;
    list-style: none;
    font-family: Inter;
    font-size: 20px;
    line-height: 50px;
    margin: 20px 40px 20px 0px;
    color: white;
}


.icon_profile {
    margin: 31px 0px;
}


.main_container {
    width: 100%;
}


.welcome {
    height: 600px;
}


.fon_library {
    width: 100%;
    height: 600px;
    background-image: url(./images/fon_library.jpg);
}

.fon_library:before {
    content: "";
    width: 100%;
    height: 50%;
    display: block;
    background: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.1%, rgba(18, 18, 21, 0.10) 100%);

}

.text_welcome {
    position: relative;
    top: -80px;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    background-color: #0c0c0e;
}

.welcome_h2 {
    color: white;
    text-align: center;
    font-family: Forum, sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
}

.about {
    height: 837px;
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 1439px;
}

.title_section {
    font-family: Forum, sans-serif;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    text-transform: capitalize;
    color: black;
}

.line_title::before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    margin: 60px 55px;
    border-bottom: 1px solid black;
    
}

.favorites_text {
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.favorites_season {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: normal;
    font-weight: bold;
    color: #0c0c0e;
}


.radio_form {
    align-self: flex-start;
    margin-bottom: 40px;
    margin-left: 20px;
}


.radio {
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 20px;
    gap: 90px;
    line-height: normal;
}

.radio_item {
    display: inherit;
    gap: 20px;
}

.input_item {
    width: 17px;
}

.favorites_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1400px;
    height: 1150px;
}

.bg_description {
    position: relative;
    width: 550px;
    height: 100%;
    border: 1px solid black;
}

.title_bg {
    font-family: Forum, sans-serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-left: 20px;
    text-transform: capitalize;
}

.staff::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    margin-top: 40px;
    border-bottom: 1px solid #BB945F;
}

.title_autor {
    font-family: Inter, sans-serif;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    text-transform: uppercase;
}


.bg_text_form {
    width: 355px;
    height: 320;
    margin-top: 20px;
    margin-left: 20px;
}


.bg_text {
    font-family: Inter, sans-serif;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.button_book {
    position: absolute;
    bottom: 15px;
    width: 75px;
    height: 30px;
    margin-left: 20px;
}

.bg_button {
    font-family: Inter, sans-serif;
    width: inherit;
    height: inherit;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid black;
    border-radius: 2px;
}

#button {
    font-family: Inter, sans-serif;
    width: inherit;
    height: inherit;
    color: #BB945F;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #BB945F;
    border-radius: 2px;
}

.books {
    position: absolute;
    margin-left: 390px;
}

.item {
    display: flex;
    align-items: flex-end;
    width: 590px;
    height: 555px;
}


.coffee_shop {
    display: flex;
    flex-direction: column;
    height: 841px;
    padding: 20px 20px 40px 20px;
}

.title_coffee_shop {
    display: flex;
    justify-content: center;
}

#title_section {
    display: flex;
    justify-content: center;
}

.text_coffee_shop {
    width: 1400px;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
}

.text_coffee {
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.two_column {
    display: flex;
    justify-content: space-between;
}

.left_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 438px;
    height: 520px;
}

.price {
    font-family: Forum, sans-serif;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #BB945F;
}

.left_item_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_price {
    font-family: Inter, sans-serif;
    width: 197px;
    white-space: nowrap;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.line_price {
    width: 100px;
    height: 1px;
    background-color: #BB945F;
}

.sum {
    font-family: Forum, sans-serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.right_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 482px;
    height: 520px;
}

#right_column_text {
    text-align: right;
}

.right_item_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts {
    height: 515px;
    padding: 20px 20px 40px 20px;
}

.cards {
    height: 616px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    padding: 20px 20px 40px 20px;
    background-color: black;
}

.frame_6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}

.frame_4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.footer_icons {
    display: inherit;
    gap: 15px;
}


.frame_5 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.text {
    font-family: Inter, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: white;
}

.text.date {
    text-align: right;
}

.frame_4 {
    width: 100%;
    height: 40px;
}


.text.sat {
    text-align: right;
}

.footer_line {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 46px;
    background: white;
}

.footer_rss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 22px;
}


.rss {
    font-family: Inter, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
}
